*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  background-color: hsl(30, 38%, 92%);
}

.container{

  margin: 30px 25px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}

.image-perf{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text{
  padding: 20px;

}

.text-top p{
font-family: montserrat;
font-size: 14px;
color: hsl(228, 12%, 48%);
}

.first{
  letter-spacing: 5px;
  font-weight: 500;
}

.text .text-top h1{
  color: hsl(212, 21%, 14%);
  font-family: Fraunces;
  font-weight: 700;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 33px;
}

.description{
  width: 296px;
  line-height: 25px;
  font-weight: 500;
}

.text-buttom{
  padding-top: 20px;
}



.price{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.text-buttom h1{
  font-family: Fraunces;
  color: hsl(158, 36%, 37%);
  margin-right: 20px;

}

.price p{
  font-family: Montserrat;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  text-decoration: line-through;
}

button{
  width: 100%;  
  height: 50px;
  background-color:hsl(158, 36%, 37%);
  border: none;
  font-family: Montserrat;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

button img{
  margin-right: 10px;
  
}


@media screen and (min-width: 1140px){
  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container{
    width: 550px;
    height: 400px;
    display: flex;
    flex-direction: row;

  }
  
  .text{
    width: 50%;
  }

  .image-perf{
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .description{
    width: 230px;
  }

  button{
    height: 45px;
  }

}
